:root {
    --white: #ffffff;
    --black: #2e2e2e;
    --gray: #e2e2e2;
    --sdg1: #e5233d;
    --sdg2: #dda73a;
    --sdg3: #4ca146;
    --sdg4: #c7212f;
    --sdg5: #ef402d;
    --sdg6: #27bfe6;
    --sdg7: #fbc412;
    --sdg8: #a31c44;
    --sdg9: #f26a2e;
    --sdg10: #e01483;
    --sdg11: #f89d2a;
    --sdg12: #bf8d2c;
    --sdg13: #407f46;
    --sdg14: #1f97d4;
    --sdg15: #59ba47;
    --sdg16: #136a9f;
    --sdg17: #14496b;
}

.hidden {
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

.show {
    opacity: 1;
}

.hidden:nth-child(2) {
    opacity: 0;
    transform: translateX(900px);
    transition: all 1s cubic-bezier(0.13, 0.53, 0.38, 0.97);
}

.show:nth-child(2) {
    opacity: 1;
    transform: translateX(0);
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

p,
h1,
h2,
a {
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-style: normal;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    text-decoration: none;
    gap: 5em;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: var(--gray);
    overflow-y: scroll;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max(10vmin, 10vmin);
    width: 100%;
    z-index: 10;
    background-color: var(--gray);
    padding: 0 4em;
    position: fixed;
    top: 0;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.navbar a {
    color: var(--black);
    font-size: 1.25rem;
    font-weight: 500;
}

.nav-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.nav-elements>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#donate-btn {
    background-color: #558395;
    padding: 0.5em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
}

#donate-btn>a {
    color: var(--white);
}

#donate-btn:hover {
    transform: scale(1.1);
    background-color: #406270;
}

.nav-elements li {
    transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
    cursor: pointer;
}

.nav-elements li:hover {
    transform: scale(1.1);
}

.nav-icon {
    width: 100px;
    height: 40px;
    background-image: url(../assets/hope-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

main {
    background-image: url("../assets/hope-bg.svg");
    background-position: center top;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0;
    transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
}

main>.hero-title {
    position: relative;
    left: 5%;
    bottom: 5%;
}

.hero-title>h1 {
    font-weight: 500;
    font-size: clamp(5rem, 10vw, 15rem);
    color: var(--white);
    margin: 0;
}

.hero-title>h2 {
    font-weight: 200;
    font-size: clamp(1.35rem, 3vw, 5rem);
    letter-spacing: 0.2rem;
    color: var(--white);
    margin: 0 0.2em;
    transform: translateY(-70%);
}


.container {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    height: 70vh;
    min-width: 100%;
    z-index: -1;
    margin: 2em 0;
}

.goal-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6em;
}

.goal-cont>div {
    width: 600px;
}

.goal-cont>div>h1 {
    font-weight: 700;
    font-size: clamp(1.35rem, 3vw, 5rem);
    color: var(--black);
    margin: 0;
}

.goal-cont>div>p {
    font-weight: 300;
    color: var(--black);
    font-size: clamp(1rem, 1vw, 5rem);
}


.card-track {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 40%;
    min-height: 100%;
    gap: 3em;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    scroll-behavior: smooth;
    align-content: center;
    padding: 2em 0;
}

.card-track::-webkit-scrollbar {
    background-color: transparent;
    width: 15px;
}

.card-track::-webkit-scrollbar-track {
    background-color: transparent;
}

.card-track::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 4px solid transparent;
    background-color: rgba(0, 0, 0, 0.3);
    background-clip: content-box;
    margin: 0 2em;
    cursor: pointer;
}

.card-track::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);

}

.card-track>.card-link {
    position: relative;
    z-index: 0;
    background-color: var(--black);
    aspect-ratio: 10/11;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
    transform: scale(0.94);
}

.card-track>.card-link:hover {
    transform: scale(1);
}

.card-link>p {
    position: absolute;
    bottom: 0;
    margin: 0.4em;
    text-decoration: none;
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 300;
    z-index: 1;
    width: 100px;
}

.card-link>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-link .card-overlay {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
}

.card-link:nth-child(1) .card-overlay {
    background: linear-gradient(0deg, var(--sdg1), var(--black));
}

.card-link:nth-child(2) .card-overlay {
    background: linear-gradient(0deg, var(--sdg2), var(--black));
}

.card-link:nth-child(3) .card-overlay {
    background: linear-gradient(0deg, var(--sdg3), var(--black));
}

.card-link:nth-child(4) .card-overlay {
    background: linear-gradient(0deg, var(--sdg4), var(--black));
}

.card-link:nth-child(5) .card-overlay {
    background: linear-gradient(0deg, var(--sdg5), var(--black));
}

.card-link:nth-child(6) .card-overlay {
    background: linear-gradient(0deg, var(--sdg6), var(--black));
}

.card-link:nth-child(7) .card-overlay {
    background: linear-gradient(0deg, var(--sdg7), var(--black));
}

.card-link:nth-child(8) .card-overlay {
    background: linear-gradient(0deg, var(--sdg8), var(--black));
}

.card-link:nth-child(9) .card-overlay {
    background: linear-gradient(0deg, var(--sdg9), var(--black));
}

.card-link:nth-child(10) .card-overlay {
    background: linear-gradient(0deg, var(--sdg10), var(--black));
}

.card-link:nth-child(11) .card-overlay {
    background: linear-gradient(0deg, var(--sdg11), var(--black));
}

.card-link:nth-child(12) .card-overlay {
    background: linear-gradient(0deg, var(--sdg12), var(--black));
}

.card-link:nth-child(13) .card-overlay {
    background: linear-gradient(0deg, var(--sdg13), var(--black));
}

.card-link:nth-child(14) .card-overlay {
    background: linear-gradient(0deg, var(--sdg14), var(--black));
}

.card-link:nth-child(15) .card-overlay {
    background: linear-gradient(0deg, var(--sdg15), var(--black));
}

.card-link:nth-child(16) .card-overlay {
    background: linear-gradient(0deg, var(--sdg16), var(--black));
}

.card-link:nth-child(17) .card-overlay {
    background: linear-gradient(0deg, var(--sdg17), var(--black));
}

.card-btn {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 50em;
    bottom: -5%;
}

.aboutus {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/hope-aboutus.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    padding: 15em 12em;
}

.about-elements {
    border-right: var(--gray);
    border-left: var(--gray);
    border-width: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10em 7em 0 7em;
    text-align: center;
}

.about-elements>h1 {
    font-weight: 700;
    font-size: clamp(1.35rem, 3vw, 5rem);
    color: var(--white);
    margin: 0;
}

.about-elements>p {
    font-weight: 200;
    color: var(--white);
    font-size: clamp(1rem, 1vw, 5rem);
}

.about-elements:nth-child(1) {
    border-style: none solid none none;
}

.about-elements:nth-child(2) {
    border-style: none none none solid;
}

.footer {
    width: 100vw;
    height: 10vmin;
    background-color: var(--gray);
    padding: 5em 0;
    display: grid;
    align-content: center;
    padding: 3em;
}

.footer-elements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-icon>img {
    height: 30px;
}

.contact-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.contact-icons>.fa-brands, .contact-icons>.fa-solid {
    transform: scale(1.3);
    color: var(--black);
    cursor: pointer;
    transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
}

.contact-icons>.fa-brands:hover, .contact-icons>.fa-solid:hover{
    transform: scale(1.5);
}

.legal {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.legal>p {
    color: var(--black);
}
