:root {
    --white: #ffffff;
    --black: #2e2e2e;
    --gray: #e3e3e3;
    --sdg1: #E5233D;
    --sdg2: #DDA73A;
    --sdg3: #4CA146;
    --sdg4: #C7212F;
    --sdg5: #EF402D;
    --sdg6: #27BFE6;
    --sdg7: #FBC412;
    --sdg8: #A31C44;
    --sdg9: #F26A2E;
    --sdg10: #E01483;
    --sdg11: #F89D2A;
    --sdg12: #BF8D2C;
    --sdg13: #407F46;
    --sdg14: #1F97D4;
    --sdg15: #59BA47;
    --sdg16: #136A9F;
    --sdg17: #14496B;
}

html {
    box-sizing: border-box;
}

p,
h1,
h2,
a {
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-style: normal;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: var(--black);
}

main {
    background-image: url("../assets/hope-bg.svg");
    background-position: center 0%;
    background-size: cover;
    height: calc(100vh - 10vmin);
    width: 100vw;
    position: relative;
    z-index: 2;
    transition: transform 500ms cubic-bezier(.13, .53, .38, .97);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

main>.hero-title {
    position: relative;
    left: 5%;
    margin: 0 0 7em 0;
}

.hero-title>h1 {
    font-weight: 200;
    font-size: clamp(5rem, 10vw, 15rem);
    color: var(--white);
    padding: 0;
    margin: 0 0 -0.2em 0;
}

.hero-title>h2 {
    font-weight: 200;
    font-size: clamp(1.35rem, 3vw, 5rem);
    letter-spacing: 0.1rem;
    color: var(--white);
    padding: 0;
    margin: 0 0 0 0.2em;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max(10vmin, 10vmin);
    z-index: 0;
    background-color: var(--white);
}

.navbar a {
    color: var(--black);
    font-size: 1.25rem;
    font-weight: 500;
}

.nav-elements li {
    margin: 0 2.5em 0 2.5em;
    transition: transform 500ms cubic-bezier(.13, .53, .38, .97);
    cursor: pointer;
}

.nav-elements li:hover {
    transform: scale(1.1);
}

.nav-icon {
    position: absolute;
    left: 3%;
    width: 100px;
    height: 40px;
    background-image: url(../assets/hope-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;

}

body[data-card="true"]>main {
    transform: translateY(-50%);
}

.container {
    height: calc(50vh - 10vmin);
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    overflow-y: hidden;
    overflow-x: scroll;
}

#card-track {
    display: flex;
    gap: clamp(1rem, 2vw, 2rem);
    margin-top: clamp(2rem, 2vw, 3rem);
    padding: 0rem clamp(1rem, 2vw, 2rem);
    transform: translateY(70%) scale(0.9);
    transition: transform 500ms cubic-bezier(.13, .53, .38, .97);
}

body[data-card="true"]>.container>#card-track {
    transform: translateY(0%) scale(1);
}

#card-track>.card-link {
    text-decoration: none;
}

.card-link {
    transition: transform 500ms cubic-bezier(.13, .53, .38, .97);
}

.card-link:hover {
    transform: scale(1.04);
}

#card-track>.card-link>.card-link-label {
    color: var(--white);
    font-size: 1.25rem;
    margin: 0rem;
    text-transform: uppercase;
}

#card-track>.card-link>.card-link-image {
    width: max(20vw, 400px);
    aspect-ratio: 1.8 / 1;
    margin-top: 0.75rem;
    object-fit: cover;
    position: relative;
}

.card-link:nth-child(1) .card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, var(--sdg1), var(--black));
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-link:nth-child(2) .card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, var(--sdg2), var(--black));
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-link:nth-child(3) .card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, var(--sdg3), var(--black));
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-link:nth-child(4) .card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, var(--sdg4), var(--black));
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-link:nth-child(5) .card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, var(--sdg5), var(--black));
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-link:nth-child(6) .card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, var(--sdg6), var(--black));
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-link:nth-child(7) .card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, var(--sdg7), var(--black));
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-link:nth-child(8) .card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, var(--sdg8), var(--black));
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-link:nth-child(9) .card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, var(--sdg9), var(--black));
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-link:nth-child(10) .card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, var(--sdg10), var(--black));
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-link:nth-child(11) .card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, var(--sdg11), var(--black));
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-link:nth-child(12) .card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, var(--sdg12), var(--black));
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-link:nth-child(13) .card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, var(--sdg13), var(--black));
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-link:nth-child(14) .card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, var(--sdg14), var(--black));
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-link:nth-child(15) .card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, var(--sdg15), var(--black));
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-link:nth-child(16) .card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, var(--sdg16), var(--black));
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-link:nth-child(17) .card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, var(--sdg17), var(--black));
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-link-image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
}




#card-toggle {
    height: 5rem;
    width: 5rem;
    position: fixed;
    z-index: 3;
    left: 50%;
    bottom: 3rem;
    transform: translateX(-50%);
    background-color: var(--white);
    border: none;
    border-radius: 5rem;
    outline: none;
    box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
    cursor: pointer;
    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 400ms;
    font-size: 1.25rem;
}

#card-toggle:hover {
    transform: translateX(-50%) scale(1.04);
}

#card-toggle:active {
    transform: translateX(-50%) scale(0.96);
}

body[data-card="true"]>#card-toggle {
    background-color: rgb(85, 130, 149);
    color: var(--white);
    transform: rotate(180deg);
}

body:not([data-card="true"])>#card-toggle:hover>.open {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#card-toggle>p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    color: var(--black);
    opacity: 0;
    transition: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

body[data-card="true"]>#card-toggle>.close {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

