:root {
    --white: #ffffff;
    --black: #2e2e2e;
    --gray: #e2e2e2;
    --sdg1: #e5233d;
    --sdg2: #dda73a;
    --sdg3: #4ca146;
    --sdg4: #c7212f;
    --sdg5: #ef402d;
    --sdg6: #27bfe6;
    --sdg7: #fbc412;
    --sdg8: #a31c44;
    --sdg9: #f26a2e;
    --sdg10: #e01483;
    --sdg11: #f89d2a;
    --sdg12: #bf8d2c;
    --sdg13: #407f46;
    --sdg14: #1f97d4;
    --sdg15: #59ba47;
    --sdg16: #136a9f;
    --sdg17: #14496b;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

p,
h1,
h2,
a {
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-style: normal;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    text-decoration: none;
    gap: 5em;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: var(--gray);
    overflow-y: scroll;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max(10vmin, 10vmin);
    width: 100%;
    z-index: 10;
    background-color: var(--gray);
    padding: 0 4em;
    position: fixed;
    top: 0;
}

.navbar a {
    color: var(--black);
    font-size: 1.25rem;
    font-weight: 500;
}

.nav-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.nav-elements button {
    border: none;
    background-color: #558395;
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 500;
    width: 200px;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
}

.nav-elements button:hover {
    transform: scale(1.1);
    background-color: #406270;
}

.nav-elements li {
    transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
    cursor: pointer;
}

.nav-elements li:hover {
    transform: scale(1.1);
}

.nav-icon {
    width: 100px;
    height: 40px;
    background-image: url(../assets/hope-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

main {
    background-image: url("../assets/hope-bg.svg");
    background-position: center top;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0;
    transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
}

main>.hero-title {
    position: relative;
    left: 5%;
    bottom: 5%;
}

.hero-title>h1 {
    font-weight: 500;
    font-size: clamp(5rem, 10vw, 15rem);
    color: var(--white);
    margin: 0;
}

.hero-title>h2 {
    font-weight: 200;
    font-size: clamp(1.35rem, 3vw, 5rem);
    letter-spacing: 0.2rem;
    color: var(--white);
    margin: 0 0.2em;
    transform: translateY(-70%);
}


.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    min-width: 100%;
    z-index: -1;
    margin: 5em 0;
}

.card-track {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 26%;
    min-height: 100%;
    padding: 0 5em;
    gap: 3em;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
}

.scroll-snap {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 5em;
}

.scroll-snap > * {
    scroll-snap-align: start;
}

.card-track::-webkit-scrollbar {
    background-color: transparent;
    width: 15px;
}

.card-track::-webkit-scrollbar-track {
    background-color: transparent;
}

.card-track::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 4px solid transparent;
    background-color: rgba(0, 0, 0, 0.3);
    background-clip: content-box;
    margin: 0 2em;
}


.card-track>.card-link {
    position: relative;
    z-index: 0;
    background-color: var(--black);
    aspect-ratio: 10/11;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
    transform: scale(0.94);
}

.card-track>.card-link:hover {
    transform: scale(1);
}

.card-link>p {
    position: absolute;
    bottom: 0;
    margin: 0.4em;
    text-decoration: none;
    color: var(--white);
    font-size: 3rem;
    font-weight: 300;
    z-index: 1;
}

.card-link>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-link .card-overlay {
    opacity: 0.35;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
}

.card-link:nth-child(1) .card-overlay {
    background-color: var(--sdg1);
}

.card-link:nth-child(2) .card-overlay {
    background-color: var(--sdg2);
}

.card-link:nth-child(3) .card-overlay {
    background-color: var(--sdg3);
}

.card-link:nth-child(4) .card-overlay {
    background-color: var(--sdg4);
}

.card-link:nth-child(5) .card-overlay {
    background-color: var(--sdg5);
}

.card-link:nth-child(6) .card-overlay {
    background-color: var(--sdg6);
}

.card-link:nth-child(7) .card-overlay {
    background-color: var(--sdg7);
}

.card-link:nth-child(8) .card-overlay {
    background-color: var(--sdg8);
}

.card-link:nth-child(9) .card-overlay {
    background-color: var(--sdg9);
}

.card-link:nth-child(10) .card-overlay {
    background-color: var(--sdg12);
}

.card-link:nth-child(11) .card-overlay {
    background-color: var(--sdg11);
}

.card-link:nth-child(12) .card-overlay {
    background-color: var(--sdg12);
}

.card-link:nth-child(13) .card-overlay {
    background-color: var(--sdg13);
}

.card-link:nth-child(14) .card-overlay {
    background-color: var(--sdg14);
}

.card-link:nth-child(15) .card-overlay {
    background-color: var(--sdg15);
}

.card-link:nth-child(16) .card-overlay {
    background-color: var(--sdg16);
}

.card-link:nth-child(17) .card-overlay {
    background-color: var(--sdg17);
}

.card-btn {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 50em;
    bottom: -5%;
}

.aboutus {
    width: 100vw;
    height: 100vh;
    background-color: pink;
}